<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*******************************************************************************
  ~  * Copyright 2020 (C) N*able
  ~  * @author Roshan Wijendra
  ~  *******************************************************************************/
  -->

<!DOCTYPE xml>
<configuration debug="true">
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p]
				%m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<springProfile name="local">
			<file>/opt/PROJECT/NBL/log/SBOCMXLOG/transfer.log</file>
			<!-- <file>/home/suneth/loges/approvals.log</file> -->
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- daily rollover -->
				<fileNamePattern>/opt/PROJECT/NBL/log/SBOCMXLOG/transfer-%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p]
					%m%n</pattern>
			</encoder>
		</springProfile>
		<springProfile name="dev">
			<File>/opt/IBM/WebSphere/AppServer/profiles/ESB_DEV/logs/core/transfer.log</File>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- daily rollover -->
				<fileNamePattern>/opt/IBM/WebSphere/AppServer/profiles/ESB_DEV/logs/core/transfer-%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p]
					%m%n</pattern>
			</encoder>
		</springProfile>
		<springProfile name="prod">
			<File>/opt/IBM/WebSphere/AppServer/profiles/ESB_DEV/logs/core/transfer.log</File>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- daily rollover -->
				<fileNamePattern>/opt/IBM/WebSphere/AppServer/profiles/ESB_DEV/logs/core/transfer-%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p]
					%m%n</pattern>
			</encoder>
		</springProfile>
	</appender>
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
